{% extends 'channels/base_channels.html' %}
{% block content %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
    <tr>
      <th>ID канала</th>
      <th>Клиент</th>
      <th>Точка А</th>
      <th>Точка B</th>
      <th>VLAN</th>
      <th>Примечание</th>
      <th>
        {% if user.is_authenticated %}
          {% for group in  request.user.groups.all %}
            {%  if 'noc' == group.name %}
        <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'l2vpn_new' %}'">
            {% endif %}
          {% endfor %}
        {% endif %}
      </th>
    </tr>
  </thead>

{% for l2vpn in l2vpns %}
<tr>
  {% if l2vpn.off_date == None %}
    <td width="200px"><a href="{% url 'l2vpn_detail' pk=l2vpn.pk %}">{{ l2vpn.channelid }}</a></td>
    <td width="200px"><a href="{% url 'customer_detail' pk=l2vpn.customer_id %}">{{ l2vpn.customer }}</a></td>
    {% if l2vpn.pointA_id != None %}
    <td width="200px"><a href="{% url 'pop_detail' pk=l2vpn.pointA_id %}">{{ l2vpn.pointA }}</a></td>
    {% elif l2vpn.coreA_id != None %}
    <td width="200px"><a href="{% url 'core_detail' pk=l2vpn.coreA_id %}">{{ l2vpn.coreA }}</a></td>
    {% endif %}
    {% if l2vpn.pointB_id != None %}
    <td width="200px"><a href="{% url 'pop_detail' pk=l2vpn.pointB_id %}">{{ l2vpn.pointB }}</a></td>
    {% elif l2vpn.coreB_id != None %}
    <td width="200px"><a href="{% url 'core_detail' pk=l2vpn.coreB_id %}">{{ l2vpn.coreB }}</a></td>
    {% endif %}
    <td width="200px">{{ l2vpn.vlan }}</td>
    <td width="200px">{{ l2vpn.comments }}</td>
    <!---
    ОТКЛЮЧЕННЫЕ КАНАЛЫ:
    --->
  {% elif l2vpn.off_date != None %}
    <td width="200px"><a href="{% url 'l2vpn_detail' pk=l2vpn.pk %}"><font color="#BDBDBD">{{ l2vpn.channelid }}</a></td>
    <td width="200px"><a href="{% url 'customer_detail' pk=l2vpn.customer_id %}"><font color="#BDBDBD">{{ l2vpn.customer }}</a></td>
    {% if l2vpn.pointA_id != None %}
    <td width="200px"><a href="{% url 'pop_detail' pk=l2vpn.pointA_id %}"><font color="#BDBDBD">{{ l2vpn.pointA }}</a></td>
    {% elif l2vpn.coreA_id != None %}
    <td width="200px"><a href="{% url 'core_detail' pk=l2vpn.coreA_id %}"><font color="#BDBDBD">{{ l2vpn.coreA }}</a></td>
    {% endif %}
    {% if l2vpn.pointB_id != None %}
    <td width="200px"><a href="{% url 'pop_detail' pk=l2vpn.pointB_id %}"><font color="#BDBDBD">{{ l2vpn.pointB }}</a></td>
    {% elif l2vpn.coreB_id != None %}
    <td width="200px"><a href="{% url 'core_detail' pk=l2vpn.coreB_id %}"><font color="#BDBDBD">{{ l2vpn.coreB }}</a></td>
    {% endif %}
    <td width="200px"><font color="#BDBDBD">{{ l2vpn.vlan }}</td>
    <td width="200px"><font color="#BDBDBD">{{ l2vpn.comments }}</td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
