{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NET:1 Inventory</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/universal/2-0-1/vendor/font-awesome/css/font-awesome.min.css">
<div class="top-bar">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-md-4">
          <img src="{% static 'img/oglogo.png' %}">
      </div>
  </div>
</div>
</div>
<p>
		  <section>
        {% block content %}
        {% endblock %}
      </section>
</body>
</html>
