{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NET:1 Inventory</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/universal/2-0-1/vendor/font-awesome/css/font-awesome.min.css">
<div class="top-bar">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
          <img src="{% static 'img/oglogo.png' %}">
      </div>
      <div class="col-md-6" style="text-align: right">
          <div class="login"><a href="#" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">{{ user.username }}</span></a><a href="{% url 'logout' %}" data-toggle="modal" data-target="#login-modal" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Выход</span></a></div>
    </div>
  </div>
</div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark">
            <a href="#" class="navbar-brand">ОБОРУДОВАНИЕ</a>
            <button class="navbar-toggler" type="button" data-target="#navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/internet/cores/" class="nav-link">Интернет</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Телефония</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Каналы связи</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/inventory/pd/" class="nav-link">Учет оборудования</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ipam/ipv4/" class="nav-link">Учет ресурсов IPv4/IPv6</a>
                    </li>
                </ul>
            </div>
        </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" style="padding: 0px; background-color: #333; border-top: 1px solid #FD5025">

      <nav>
          <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
          <ul id="respMenu" class="ace-responsive-menu" data-menu-style="vertical">
              <li>
                  <a href="/inventory/pd/">
                      <i class="fa fa-at" aria-hidden="true"></i>
                      <span class="title">Передача Данных</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <span class="title">Телефония</span>
                  </a>
              </li>
          </ul>
      </nav>

    </div>
    <div class="col-md-10">
		  <section>
        {% block content %}
        {% endblock %}
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      <h3>Служба поддержки</h3>
      <p><strong>Email:</strong> support@netone.ru
      <br><strong>Tel.:</strong> +7 (495) 646 2800
      </div>
      <div class="col-md-2 list">
        <ul>
          <li><a href="/internet/cores/">Интернет</a></li>
          <li><a href="#">Телефония</a></li>
          <li><a href="/l2vpn/">Каналы связи</a></li>
          <li><a href="/inventory/pd/">Учет оборудования</a></li>
          <li><a href="/ipam/ipv4/">Учет ресурсов IPv4/IPv6</a></li>
        </ul>
      </div>
      <div class="col-md-2 list">
        <ul>
          <li><a href="/inventory/pd/">Оборудование ПД</a></li>
          <li><a href="#">Оборудование Телефония</a></li>
        </ul>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md">
        <h5><strong>Контакты</strong></h5>
        <strong>Адрес:</strong> 115035, Москва, Садовническая набережная, д. 69
        <br><strong>Email:</strong> noc@netone.ru
        <br><strong>Tel.:</strong> +7 (495) 646 2888
      </div>
    </div>
</body>
</html>
