{% extends 'inventory/base_inet.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Существующие:</th>
    <th><a href="{% url 'core_detail' pk=core.pk %}">{{ core.title }}</a></th>
  </tr>
  </thead>
  {% for i in downstream %}
  <tr style="height: 30px;">
    <td width="15%">Подключение:</td>
    <td><a href="{% url 'pop_detail' pk=i.pk %}">{{ i }}</a></td>
    <td><input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px;" type="button" value="УДАЛИТЬ" onclick="location.href='{% url 'core_downstreams_remove' corepk=core.pk poppk=i.pk %}'"></td>
  </tr>
  {% endfor %}
  <tr>
    <td><strong>Добавить:</strong></td>
    <td>
      <form method="POST">{% csrf_token %}
      {{ filter.form.as_p }}
    </td>
    <td>
      <button class="btn btn-light btn-sm" style="float: right; height: 32px; width: 92px;" type="submit">ФИЛЬТР</button>
    </td>
  </tr>

  {% for pop in filter.qs %}
  <tr style="height: 30px;">
    <td width="15%">Подключение:</td>
    <td><a href="{% url 'pop_detail' pk=pop.pk %}">{{ pop.title }}</a></td>
    <td><input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px;" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'core_downstreams_add' corepk=core.pk poppk=pop.pk %}'"></td>
  </tr>
  {% endfor %}
</table>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
