{% extends 'inventory/base_inet.html' %}
{% block content %}
<style type="text/css">
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
  }
  table {
    border-spacing: 0px;
    border-left: 2px solid #7e7e7e;
    padding-top: 0px;
    padding-left: 15px;
    background-color: #FFFFFF;
  }
  .addbutton {
    color: #fff;
    background-color: #FF9900;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }
  .delbutton {
    color: #fff;
    background-color: #FF0000;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }

</style>
<table width='100%'>
  <tr style="height: 30px;">
    <td ><h4><p>Существующие:</h4></td>
    <td ><h4><p>{{ core.title }}</h4></td>
  </tr>
  {% for i in downstream %}
  <tr style="height: 30px;">
    <td width='15%'><b>Подключение:</b></td>
    <td><a href="{% url 'pop_detail' pk=i.pk %}">{{ i }}</a></td>
    <td><a href="{% url 'core_downstreams_remove' corepk=core.pk poppk=i.pk %}">УДАЛИТЬ</a></td>
  </tr>
  {% endfor %}
</table>
<table width='100%'>
  <tr style="height: 30px;">
    <td ><h4><p>Добавить:</h4></td>
  </tr>
  {% for x in pops %}
  <tr style="height: 30px;">
    <td width='15%'><b>Подключение:</b></td>
    <td><a href="{% url 'pop_detail' pk=x.pk %}">{{ x }}</a></td>
    <td><a href="{% url 'core_downstreams_add' corepk=core.pk poppk=x.pk %}">ДОБАВИТЬ</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
