{% extends 'inventory/base_inet.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Существующие:</th>
    <th><a href="{% url 'core_detail' pk=core.pk %}">{{ core.title }}</a></th>
  </tr>
  </thead>
  {% for i in device %}
  <tr>
    <td width="15%">Устройство:</td>
    <td><a href="{% url 'device_detail' pk=i.pk %}">{{ i }}</a></td>
    <td><input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px;" type="button" value="УДАЛИТЬ" onclick="location.href='{% url 'core_device_remove' corepk=core.pk devicepk=i.pk %}'"></td>
  </tr>
  {% endfor %}
  <tr>
    <td width="15%"><strong>Добавить новое:</strong></td>
    <td>
      <form method="POST">{% csrf_token %}
      {{ filter.form.as_p }}
    </td>
    <td>
      <button class="btn btn-light btn-sm" style="float: right; height: 32px; width: 92px;" type="submit">ФИЛЬТР</button>
    </td>
  </tr>
  {% for device in filter.qs %}
  <tr>
    <td>Устройство:</td>
    <td><a href="{% url 'device_detail' pk=device.pk %}">{{ device.dnsname }}</a></td>
    <td><input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px;" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'core_device_add' corepk=core.pk devicepk=device.pk %}'"></td>
  </tr>
  {% endfor %}
</table>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
