{% extends 'inventory/base_inet.html' %}
{% block content %}

{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<script>
function delconfirm() {
  var user_choice = window.confirm('Вы уверены?');
  if(user_choice==true) {
    window.location='{% url 'core_remove' pk=core.pk %}';
  } else {
    return false;
  }
}
</script>
    {% endif %}
  {% endfor %}
{% endif %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>CORE:</th>
    <th>{{ core.title }}</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'core_edit' pk=core.pk %}'">
      <input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px; margin-right: 10px;" type="button" value="УДАЛИТЬ" onclick="delconfirm()">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  <tr>
    <td>Адрес:</td>
    <td>{{ core.address|default_if_none:"&nbsp;" }}</td>
  </tr>
  <tr>
    <td>Контакты:</td>
    <td>{{ core.contacts|default_if_none:"&nbsp;" }}</td>
  </tr>
  <tr>
    <td>Менеджер:</td>
    <td>{{ core.manager|default_if_none:"&nbsp;" }}</td>
  </tr>
  <tr>
    <td>Скорость:</td>
    <td>{{ core.bandwidth|default_if_none:"&nbsp;" }}</td>
  </tr>
  <tr>
    <td>Пул vlan:</td>
    <td>{{ core.vlans|default_if_none:"&nbsp;" }}</td>
  </tr>
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Оборудование</th>
    <th></th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
          <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'core_devices' pk=core.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  <tr class="table-active">
    <td width='30%'>Модель:</td>
    <td>Имя:</td>
    <td>Прочее:</td>
  </tr>
  {% for d in device %}
  <tr style="height: 30px;">
    <td width='30%'>{{d.vendor}} {{d.model}}</td>
    <td><a href="{% url 'device_detail' pk=d.pk %}">{{ d }}</a</td>
    <td><a href = "telnet://{{d.ipaddress}}">connect</td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Сети IPv4</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
          <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'core_ipv4networks' pk=core.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  <tr class="table-active">
    <td width='30%'>Сеть:</td>
    <td>Описание:</td>
  </tr>
  {% for n in network %}
  <tr>
    <td width='30%'><a href="{% url 'ipv4_detail' pk=n.pk %}">{{ n }}</a</td>
    <td>{{ n.comment }}</td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Downstream</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
          <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'core_downstreams' pk=core.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  {% for i in downstream %}
  <tr>
    <td width='30%'>Подключение:</td>
    <td><a href="{% url 'pop_detail' pk=i.pk %}">{{ i }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
