{% extends 'inventory/base_inet.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<form method="POST">{% csrf_token %}
  <table class="table table-sm table-borderless table-hover" width='100%' style="margin-top: 10px">
    <thead>
      <th>Параметры подключения:</th>
    </thead>
    <tr>
      <td width="15%">Коммутатор:</td>
      <td>{{ form.switch }}</td>
    </tr>
    <tr>
      <td>Vlan:</td>
      <td>{{ form.vlans }}</td>
    </tr>
    <tr>
      <td>Полоса:</td>
      <td>{{ form.bandwidth }}</td>
    </tr>
  </table>
  <table style="margin-button: 10px">
    <tr>
      <td>
        <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="submit">СОХРАНИТЬ</button>
        <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="cancel" onclick="window.history.back()">ОТМЕНА</button>
       </td>
    </tr>
    </table>
</form>
<p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
