{% extends 'inventory/base_inet.html' %}
{% block content %}

{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<script>
function delconfirm() {
  var user_choice = window.confirm('Вы уверены?');
  if(user_choice==true) {
    window.location='{% url 'customer_remove' pk=customer.pk %}';
  } else {
    return false;
  }
}
</script>
    {% endif %}
  {% endfor %}
{% endif %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Клиент:</th>
    <th>{{ customer.title }}</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'customer_edit' pk=customer.pk %}'">
      <input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px; margin-right: 10px;" type="button" value="УДАЛИТЬ" onclick="delconfirm()">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  <tr>
    <td>Адрес:</td>
    <td>{{ customer.address|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Контакты:</td>
    <td>{{ customer.contacts|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Менеджер:</td>
    <td>{{ customer.manager|linebreaksbr }}</td>
  </tr>
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Комментарии</th>
  </tr>
</thead>
<tr>
  <td>{{ customer.comments|linebreaksbr }}</td>
</tr>
</tables>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Upstreams</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'customer_upstreams' pk=customer.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  {% for i in upstream %}
  <tr>
    <td width='30%'>Подключение:</td>
    <td><a href="{% url 'pop_detail' pk=i.pk %}">{{ i }}</a</td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Сети IPv4</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'customer_ipv4networks' pk=customer.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  <tr class="table-active">
    <td width='30%'>Сеть:</td>
    <td>Описание:</td>
  </tr>
  {% for n in network %}
  <tr style="height: 30px;">
    <td width='30%'><a href="{% url 'ipv4_detail' pk=n.pk %}">{{ n }}</a</td>
    <td>{{ n.comment }}</td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Подключение:</th>
    <th></th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'customer_connection' pk=customer.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  <tr class="table-active">
    <td width='30%'>Коммутатор:</td>
    <td>Vlan:</td>
    <td>Полоса:</td>
  </tr>
  <tr>
    <td width='30%'>{{ customer.switch|linebreaksbr }}</td>
    <td>{{ customer.vlans|linebreaksbr }}</td>
    <td>{{ customer.bandwidth|linebreaksbr }}</td>
  </tr>
</table>
{% endblock %}
