{% extends 'inventory/base_inventory.html' %}
{% block content %}
{% if user.is_authenticated %}

<form method="POST">{% csrf_token %}
<table class="table table-sm table-borderless table-hover" width='100%' style="margin-top: 10px">
  <thead>
    <th>Коммутатор:</th>
  </thead>
  <tr>
    <td width="15%">Имя:</td>
    <td>{{ form.dnsname }}</td>
  </tr>
  <tr>
    <td>IP-адрес:</td>
    <td>{{ form.ipaddress }}</td>
  </tr>
  <tr>
    <td>Адрес:</td>
    <td>{{ form.geoaddress }}</td>
  </tr>
  <tr>
    <td>Комментарий:</td>
    <td>{{ form.comments }}</td>
  </tr>
  <tr>
    <td>Производитель:</td>
    <td>{{ form.vendor }}</td>
  </tr>
  <tr>
    <td>Модель:</td>
    <td>{{ form.model }}</td>
  </tr>
  <tr>
    <td>Серийный номер:</td>
    <td>{{ form.serialnum }}</td>
  </tr>

</table>
<table style="margin-button: 10px">
  <tr>
    <td>
      <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="submit">СОХРАНИТЬ</button>
      <input class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="button" value="ОТМЕНА" onclick="window.history.back()">
     </td>
  </tr>
  </table>
</form>
<p>
{% endif %}
{% endblock %}
