{% extends 'inventory/base_inventory.html' %}
{% block content %}
<style type="text/css">
  h4 a:visited {
    color: #444444;
  }
  h4 a:hover {
    text-decoration: underline;
    color: #444444;
  }
  table {
    border-spacing: 0px;
    border-left: 2px solid #7e7e7e;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    background-color: #FFFFFF;
  }
  .addbutton {
    color: #fff;
    background-color: #FF9900;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }
  .filterbutton {
    color: #fff;
    background-color: #999999;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }

</style>
{% if user.is_authenticated %}
<input class="addbutton" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'device_new' %}'">
{% endif %}
<table width='100%'>
  <tr style="height: 30px;">
    <td>
      <form method="POST">{% csrf_token %}
      {{ filter.form.as_p }}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button class="filterbutton" type="submit">ФИЛЬТР</button>
    </td>
  </tr>
  <tr style="height: 30px;">
    <td><b>Производитель</td>
    <td><b>Модель</td>
    <td><h4>Имя</a></h1></td>
    <td><b>ip-адрес</b></td>
    <td><b>Адрес</b></td>
  </tr>
{% for device in filter.qs %}
  <tr style="height: 30px;">
    <td>{{ device.vendor|linebreaksbr }}</td>
    <td>{{ device.model|linebreaksbr }}</td>
    <td><a href="{% url 'device_detail' pk=device.pk %}">{{ device.dnsname }}</a></h1></td>
    <td>{{ device.ipaddress|linebreaksbr }}</td>
    <td>{{ device.geoaddress|linebreaksbr }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
