{% extends 'inventory/base_inventory.html' %}
{% block content %}

{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<script>
function delconfirm() {
  var user_choice = window.confirm('Вы уверены?');
  if(user_choice==true) {
    window.location='{% url 'device_remove' pk=device.pk %}';
  } else {
    return false;
  }
}
</script>
    {% endif %}
  {% endfor %}
{% endif %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Производитель:</th>
    <th>{{ device.vendor }}</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
          <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'device_edit' pk=device.pk %}'">
          <input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px; margin-right: 10px;" type="button" value="УДАЛИТЬ" onclick="delconfirm()">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  <tr>
    <td>Модель:</td>
    <td>{{ device.model|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Имя:</td>
    <td>{{ device.dnsname|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>IP-адрес:</td>
    <td>{{ device.ipaddress|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Адрес:</td>
    <td>{{ device.geoaddress|linebreaksbr }}</td>
  </tr>
</table>
{% endblock %}
