{% extends 'inventory/base_inventory.html' %}
{% block content %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
    <tr>
      <th>Производитель</th>
      <th>Модель</th>
      <th>Имя</th>
      <th>IP-адрес</th>
      <th>Адрес</th>
      <th>
        {% if user.is_authenticated %}
          {% for group in  request.user.groups.all %}
            {%  if 'noc' == group.name %}
              <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'device_new' %}'">
            {% endif %}
          {% endfor %}
        {% endif %}
      </th>
    </tr>
  </thead>
  <tr style="height: 30px;">
    <td>
      <form method="POST">{% csrf_token %}
      {{ filter.form.as_p }}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button class="btn btn-light btn-sm" style="height: 32px; width: 92px;" type="submit">ФИЛЬТР</button>
    </td>
  </tr>

{% for device in filter.qs %}
  <tr style="height: 30px;">
    <td>{{ device.vendor|linebreaksbr }}</td>
    <td>{{ device.model|linebreaksbr }}</td>
    <td><a href="{% url 'device_detail' pk=device.pk %}">{{ device.dnsname }}</a></h1></td>
    <td>{{ device.ipaddress|linebreaksbr }}</td>
    <td>{{ device.geoaddress|linebreaksbr }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
