{% extends 'inventory/base_ipam.html' %}
{% block content %}
{% if user.is_authenticated %}

<form method="POST">{% csrf_token %}
  <table class="table table-sm table-borderless table-hover" width='100%' style="margin-top: 10px">
    <thead>
      <th>IPv4 Cеть:</th>
    </thead>
    <tr>
      <td width="15%">Сеть:</td>
      <td>{{ form.network }}</td>
    </tr>
    <tr>
      <td>Статус:</td>
      <td>{{ form.status }}</td>
    </tr>
    <tr>
      <td>Сегмент:</td>
      <td>{{ form.segment }}</td>
    </tr>
    <tr>
      <td>Комментарий:</td>
      <td>{{ form.comment }}</td>
    </tr>
    <tr>
      <td>Детали:</td>
      <td>{{ form.detail }}</td>
    </tr>
  </table>
  <table style="margin-button: 10px">
    <tr>
      <td>
        <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="submit">СОХРАНИТЬ</button>
        <input class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="button" value="ОТМЕНА" onclick="window.history.back()">
      </td>
    </tr>
    </table>
</form>
<p>
{% endif %}
{% endblock %}
