{% extends 'inventory/base_ipam.html' %}
{% block content %}
<style type="text/css">
  h4 a:visited {
    color: #444444;
  }
  h4 a:hover {
    text-decoration: underline;
    color: #444444;
  }
  table {
    border-spacing: 0px;
    border-left: 2px solid #7e7e7e;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    background-color: #FFFFFF;
  }
  .addbutton {
    color: #fff;
    background-color: #FF9900;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }
  .filterbutton {
    color: #fff;
    background-color: #999999;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }
</style>

<script>
function Go(val) {
   var frm=document.seporform;
   frm.code.value = val;
   frm.submit();
}
</script>

{% if user.is_authenticated %}
<input class="addbutton" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'ipv4_new' %}'">
{% endif %}
<table width='100%'>
<tr style="height: 30px;">
<!--
  <td>
    <form method="POST">{% csrf_token %}
    {{ filter.form.as_p }}
  </td>
  <td>
    <button class="filterbutton" type="submit">ФИЛЬТР</button>
  </td>
-->
</tr>

{% for network in ipv4networks %}
<tr style="height: 30px;">
  <td width="100px"><a href="{% url 'ipv4_detail' pk=network.pk %}">{{ network.network }}</a></td>
  <td>{{ network.comment|linebreaksbr }}</td>
  <td>
    <input class="filterbutton" type="button" value="РАЗДЕЛИТЬ" onclick="location.href='{% url 'ipv4_sepor' pk=network.pk %}'">
    <!--
    <form name="seporform" method="POST" action="{% url 'ipv4_sepor' pk=network.pk %}">{% csrf_token %}
    <input  name='code'>
    </form>
    <a href="#" onclick="Go(100)" >РАЗДЕЛИТЬ</а>
    -->
</tr>
{% endfor %}
</table>
{% endblock %}
