{% extends 'inventory/base_ipam.html' %}
{% block content %}

{% if user.is_authenticated %}
<script>
function delconfirm() {
  var user_choice = window.confirm('Вы уверены?');
  if(user_choice==true) {
    window.location='{% url 'ipv4_remove' pk=ipv4network.pk %}';
  } else {
    return false;
  }
}
</script>
{% endif %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>IP Сеть:</th>
    <th>{{ ipv4network.network }}</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
            <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'ipv4_edit' pk=ipv4network.pk %}'">
            <input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px; margin-right: 10px;" type="button" value="УДАЛИТЬ" onclick="delconfirm()">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  <tr>
    <td>Статус:</td>
    <td>{{ ipv4network.status|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Сегмент:</td>
  {% if ipv4network.segment != None %}
    <td>{{ ipv4network.segment|linebreaksbr }}</td>
  {% elif ipv4network.segment == None %}
    <td>Не выбран</td>
  {% endif %}
  </tr>
  {% if ipv4network.tocore != None %}
  <tr>
    <td>Опорный узел:</td>
    <td>{{ ipv4network.tocore|linebreaksbr }}</td>
  </tr>
  {% endif %}
  {% if ipv4network.topop != None %}
  <tr>
    <td>Точка присутствия:</td>
    <td>{{ ipv4network.topop|linebreaksbr }}</td>
  </tr>
  {% endif %}
  {% if ipv4network.tocustomer != None %}
  <tr>
    <td>Клиент:</td>
    <td>{{ ipv4network.tocustomer|linebreaksbr }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>Комментарий:</td>
    <td>{{ ipv4network.comment|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>IP-адреса:</td>
    <td>{{ ipfrom }} - {{ ipto }}</td>
  </tr>
  <tr>
    <td>Маска подсети:</td>
    <td>{{ mask }}</td>
  </tr>
  <tr>
    <td>Шлюз по умолчанию:</td>
    <td>{{ gw }}</td>
  </tr>
  <tr>
    <td>Первичный DNS:</td>
    <td>188.65.128.26</td>
  </tr>
  <tr>
    <td>Вторичный DNS:</td>
    <td>188.65.130.130</td>
  </tr>
</table>
{% endblock %}
