{% extends 'inventory/base_inet.html' %}
{% block content %}

{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<script>
function delconfirm() {
  var user_choice = window.confirm('Вы уверены?');
  if(user_choice==true) {
    window.location='{% url 'pop_remove' pk=pop.pk %}';
  } else {
    return false;
  }
}
</script>
    {% endif %}
  {% endfor %}
{% endif %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Подключение:</th>
    <th>{{ pop.title }}</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'pop_edit' pk=pop.pk %}'">
      <input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px; margin-right: 10px;" type="button" value="УДАЛИТЬ" onclick="delconfirm()">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  <tr>
    <td>Адрес:</td>
    <td>{{ pop.address|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Контакты:</td>
    <td>{{ pop.contacts|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Менеджер:</td>
    <td>{{ pop.manager|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Ширина канала:</td>
    <td>{{ pop.bandwidth|linebreaksbr }}</td>
  </tr>
  <tr>
    <td>Комментарий:</td>
    <td>{{ pop.comments|linebreaksbr }}<td>
  </tr>
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Оборудование</th>
    <th></th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'pop_devices' pk=pop.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  <tr class="table-active">
    <td width='30%'>Модель:</td>
    <td>Имя:</td>
    <td>Прочее:</td>
  </tr>
  {% for d in device %}
  <tr>
    <td width='30%'>{{d.vendor}} {{d.model}}</td>
    <td><a href="{% url 'device_detail' pk=d.pk %}">{{ d }}</a</td>
    <td><a href = "telnet://{{d.ipaddress}}">connect</td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Сети IPv4</th>
    <th></th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
          <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'pop_ipv4networks' pk=pop.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  <tr class="table-active">
    <td width='30%'>Сеть:</td>
    <td>Описание:</td>
    <td></td>
  </tr>
  {% for n in network %}
  <tr>
    <td width='30%'><a href="{% url 'ipv4_detail' pk=n.pk %}">{{ n }}</a</td>
    <td>{{ n.comment }}</td>
    <td></td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Upstream Cores:</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'pop_upstreams' pk=pop.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  {% for i in upstream %}
  <tr>
    <td width='30%'>Узел:</td>
    <td><a href="{% url 'core_detail' pk=i.pk %}">{{ i }}</a></td>
  </tr>
  {% endfor %}
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Downstream:</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'popconnection_new' pk=pop.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
<!--
  {% for x in downstream %}
  <tr>
    <td width='30%'>Клиент:</td>
    <td><a href="{% url 'customer_detail' pk=x.pk %}">{{ x }}</a</td>
  </tr>
  {% endfor %}
-->
</table>

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Клиенты:</th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'pop_downstreams' pk=pop.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
</thead>
  {% for x in downstream %}
  <tr>
    <td width='30%'>Клиент:</td>
    <td><a href="{% url 'customer_detail' pk=x.pk %}">{{ x }}</a</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
