{% extends 'inventory/base_inet.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<form method="POST">{% csrf_token %}
  <table class="table table-sm table-borderless table-hover" width='100%' style="margin-top: 10px">
    <thead>
      <th>Точка присутствия</th>
    </thead>
    <tr>
      <td width="15%">Название:</td>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <td>Адрес:</td>
      <td>{{ form.address }}</td>
    </tr>
    <tr>
      <td>Контакты:</td>
      <td>{{ form.contacts }}</td>
    </tr>
    <tr>
      <td>Менеджер:</td>
      <td>{{ form.manager }}</td>
    </tr>
    <tr>
      <td>Скорость:</td>
      <td>{{ form.bandwidth }}</td>
    </tr>
    <tr>
      <td>vlan-ы:</td>
      <td>{{ form.vlans }}</td>
    </tr>
    <tr>
      <td>Комментарий:</td>
      <td>{{ form.comments }}</td>
    </tr>
  </table>
  <table style="margin-button: 10px">
    <tr>
      <td>
        <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="submit">СОХРАНИТЬ</button>
        <input class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="button" value="ОТМЕНА" onclick="window.history.back()">
       </td>
    </tr>
    </table>
</form>
<p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
