{% extends 'inventory/base_inet.html' %}
{% block content %}
<style type="text/css">
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
  }
  table {
    border-spacing: 0px;
    border-left: 2px solid #7e7e7e;
    padding-top: 0px;
    padding-left: 15px;
    background-color: #FFFFFF;
  }
  .addbutton {
    color: #fff;
    background-color: #FF9900;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }
  .delbutton {
    color: #fff;
    background-color: #FF0000;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }
  .filterbutton {
    color: #fff;
    background-color: #999999;
    border: none;
    height: 32px;
    width: 72px;
    font-family: 'Oswald', sans-serif;
    float: right;
  }

</style>
<table width='100%'>
  <tr style="height: 30px;">
    <td ><h4><p>Существующие:</h4></td>
    <td ><h4><p>{{ customer.title }}</h4></td>
  </tr>
  {% for i in downstream %}
  <tr style="height: 30px;">
    <td width='15%'><b>Клиент:</b></td>
    <td><a href="{% url 'pop_detail' pk=i.pk %}">{{ i }}</a></td>
    <td><input class="delbutton" type="button" value="УДАЛИТЬ" onclick="location.href='{% url 'pop_downstreams_remove' poppk=pop.pk customerpk=i.pk %}'"></td>
  </tr>
  {% endfor %}
  <tr style="height: 30px;">
    <td ><h4><p>Добавить:</h4></td>
    <td>
      <form method="POST">{% csrf_token %}
      {{ filter.form.as_p }}
    </td>
    <td>
      <button class="filterbutton" type="submit">ФИЛЬТР</button>
    </td>
  </tr>
  {% for customer in filter.qs %}
  <tr style="height: 30px;">
    <td width='15%'><b>Клиент:</b></td>
    <td><a href="{% url 'pop_detail' pk=customer.pk %}">{{ customer.title }}</a></td>
    <td><input class="addbutton" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'pop_downstreams_add' poppk=pop.pk customerpk=customer.pk %}'"></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
