{% extends 'inventory/base_inet.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Существующие:</th>
    <th><a href="{% url 'pop_detail' pk=pop.pk %}">{{ pop.title }}</a></th>
  </tr>
  </thead>
  {% for i in pop_ipv4 %}
  <tr>
    <td width="15%">Сеть:</td>
    <td><a href="{% url 'ipv4_detail' pk=i.pk %}">{{ i }}</a></td>
    <td><input class="btn btn-danger btn-sm" style="float: right; height: 32px; width: 92px;" type="button" value="ОТКЛ." onclick="location.href='{% url 'pop_ipv4network_remove' poppk=pop.pk networkpk=i.pk %}'"></td>
  </tr>
  {% endfor %}
  <tr style="height: 30px;">
    <td><strong>Добавить:</strong></td>
    <td>
      <form method="POST">{% csrf_token %}
      {{ filter.form.as_p }}
    </td>
    <td>
      <button class="btn btn-light btn-sm" style="float: right; height: 32px; width: 92px;" type="submit">ФИЛЬТР</button>
    </td>
  </tr>
  {% for network in filter.qs %}
  {% if network.status == "FREE" %}
  <tr style="height: 30px;">
    <td width="15%">Сеть:</td>
    <td><a href="{% url 'ipv4_detail' pk=network.pk %}">{{ network.network }}</a></td>
    <td><input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px;" type="button" value="ДОБАВИТЬ" onclick="location.href='{% url 'pop_ipv4network_add' poppk=pop.pk networkpk=network.pk %}'"></td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
