{% extends 'inventory/base_inet.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
  <table class="table table-sm table-borderless table-hover" width='100%' style="margin-top: 10px">
    <thead>
      <th>Подключение</th>
    </thead>
    <tr>
      <td width="15%">ID:</td>
      <td>{{ pk }}</td>
    </tr>
    <tr>
      <td>Upstream:</td>
      <td>{{ pop }}</td>
    </tr>
    <tr>
      <td>Downstream:</td>
      <td></td>
    </tr>
  </table>
  <table style="margin-button: 10px">
    <tr>
      <td>
        <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="submit">СОХРАНИТЬ</button>
        <button class="btn btn-dark btn-sm" style="height: 32px; width: 100px; margin-top: 10px" type="cancel" onclick="window.history.back()">ОТМЕНА</button>
       </td>
    </tr>
    </table>
<p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
