{% extends 'inventory/base_inet.html' %}
{% block content %}

{% if user.is_authenticated %}
  {% for group in  request.user.groups.all %}
    {%  if 'noc' == group.name %}
<script>
function delconfirm() {
  var user_choice = window.confirm('Вы уверены?');
  if(user_choice==true) {
    window.location='{% url 'pop_remove' pk=pop.pk %}';
  } else {
    return false;
  }
}
</script>
    {% endif %}
  {% endfor %}
{% endif %}

<table class="table table-sm table-borderless table-hover" width='100%'>
  <thead>
  <tr>
    <th>Подключение</th>
    <th></th>
    <th>
      {% if user.is_authenticated %}
        {% for group in  request.user.groups.all %}
          {%  if 'noc' == group.name %}
      <input class="btn btn-dark btn-sm" style="float: right; height: 32px; width: 92px; margin-top: 10px;" type="button" value="РЕДАКТИР." onclick="location.href='{% url 'popconnection_edit' pk=popconnection.pk %}'">
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  </thead>
  <tr class="table-active">
    <td>ID:</td>
  </tr>
  {% for x in popconnection %}
  <tr>
    <td>{{x.pk}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
